.WeatherForecast {
  text-align: center;
  background-color: rgba(114, 9, 183, 0.2);
  border: 3px solid #7209b7;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px 15px;
}
.WeatherForecast-temperature-max {
  font-weight: bold;
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 15px;
}
